<h1>Am I poor?</h1>

<%=form_for @salary do | form | %>
<p id="error">  <%=@salary.errors.full_messages.join%> </p>
<p id="amount">$ <%=form.text_field :amount %> /yr </p>
  <%=form.submit 'Find out' %>
<%end %> 

<%content_for :javascript do %>
<%=javascript_tag do %>
$("#salary_amount").priceFormat({
    prefix: '',
    thousandsSeparator: ',',
    centsLimit: 0,
    centsSeparator: ''
});

<%end %>
<%end %>

