<!DOCTYPE html>
<html>
<head>
  <title>Onepercent</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>
<a href="http://rebecca.meritz.com">This website was brought to you by Rebecca Meritz.</a>

<a href="http://www.census.gov/hhes/www/poverty/data/threshld/index.html">Data from U.S. Census Bureau 2011.</a> 
</p>

<%= yield :javascript%>
</body>
</html>
